<html>
    <head>
        <link rel="stylesheet" type="text/css" href="design.css">
        <title>Data Visualization</title>
        <script src="d3/d3.min.js"></script>
        <script src="angular.min.js"></script>
        <script src="angular-route.min.js"></script>
        <script src="CSV_TO_JSON.js"></script>
        <script src="TSV_TO_JSON.js"></script>
        <script src="UploadDataModule/uploadModule.js"></script>
        <script src="UploadDataModule/graphModule.js"></script>
        <script src="plots.js"></script>
        <script src="Geometry.js"></script>
        <script src="render.js"></script>
        <script src="InteractionLib.js"></script>
    </head>
    <body >
        <div id="div1"></div>

        <div ng-app="mainModule">
            <div data-ng-controller="uploadControl">
                <input type="file"  name='file' onchange="angular.element(this).scope().upload(this.files)" />
            </div>

            <div data-ng-controller="compineGraphsWithData">
                <button ng-click="scatter()">Scatter plot</button>
            </div>
            <div data-ng-controller="extractDims">
                <button ng-click="getdimensions()">getdimensions</button>
                <form>  
                    <div data-ng-repeat="dim in dimension">
                    <input  type="checkbox"  id={{dim}} value={{dim}}>{{dim}}
                    <br>
                    </div>
                    <button  data-ng-click="getcheckedbox()">done</button>
                </form>
            </div>
            <script src="UploadDataModule/mainModule.js"></script>
        </div>

    </body>
</html>
<!--<div id="dis" ng-view>
        </div>-->
